<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Bot</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- <audio controls autoplay>
        <source src="/OK.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio> -->
      
    <div class="box">
        
           
        <form action="/" method="POST" >
            <input type="text" name="username" placeholder="Enter your Username" autocomplete="off" >
            <button type="submit">Get Submissions</button>
        </form>
    </div>
</body>

<footer>
    <h2>Made By KinMod</h2>
</footer>
  
</html>
